* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body{
    background-image: url('../../public/img/pattern.jpg') ;
}

header.topnav {
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0;
    background-color: ffffff;
    font-size: 20px;
    overflow: hidden;
}

.topnav ul {
    list-style-type: none;
    
}

.topnav a {
    display: inline-block;
    color: #2753e2;
    text-align: center;
    padding-right: 15px;
    font-size: 17px;
    text-decoration: none;
}

.topnav img {
    float: left;
}

.topnav-right {
    float: right;
}

section{
    background-color: #ffffff;
    margin: auto;
    margin-top: 15px;
    width: 75%;
    padding: 15px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    padding: 1px;
    margin-top: 10px;
}

/* Sticky */

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

